body {
background: black;
}

main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  margin: auto;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 5px;
  background: pink;
  font-weight: bold;
}

.playing {
  background: red;

}

.volume {
  width: 400px;
  background: white;
  color: transparent;
}

input {
  margin-top: 20px;
}

